.containers-extension-menu {
	width: 380px;
}

.status-running {
	color: lawngreen;
}

.status-stopped {
	color: red;
}

.status-remove {
	color: LightSlateGray;
}

.status-undefined {
	color: SkyBlue;
}

.button:checked {
    color: #eeeeec;
    background-color: #2d2d2d;
    border-color: #191919;
    text-shadow: none;
    icon-shadow: none;
    box-shadow: none;
}

.containers-action-button {
    padding-right: 6px;
    padding-left: 6px;
}

.container-action-bar {
    margin-right: 40px;
	margin-left: 12px;
}
