.containers-extension-menu {
    width: 350px;
}

.status-running {
    color: lawngreen;
}

.status-stopped {
    color: red;
}

.status-remove {
    color: LightSlateGray;
}

.status-undefined {
    color: SkyBlue;
}

.button:checked {
    color: #eeeeec;
    background-color: #2d2d2d;
    border-color: #191919;
    text-shadow: none;
    icon-shadow: none;
    box-shadow: none;
}

.container-action-bar .button{
    padding: 3px 24px;
}

.container-action-bar .button .popup-menu-item {
    margin: auto;
    text-align: center;
}

/*
.container-action-bar {
    margin-right: 40px;
    margin-left: 12px;
}
*/
