.containers-extension-menu {
	width: 600px; 
}


.status-running {
	color: lawngreen;
}

.status-start {
	color: lawngreen;
}

.status-stopped {
	color: red;
}

.status-remove {
	color: LightSlateGray;
}

.status-undefined {
	color: SkyBlue;
}

.container-action-box .action {
	padding: 0;
	spacing: 0;
	margin: 0;
	border-radius: 20px;
}

.container-action-box .action .icon{
	padding: 0;
	spacing: 0;
	width: 10px;
	display: inline-grid;
	margin-left: 5px;
	margin-right: 5px;
}

.action-enabled {
      
}

.action-sh {
	color: greenyellow;
}

.action-log {
	color: gray;
}

.action-stats {
	color: greenyellow;
}

.container-action-box {
	padding: 0px 0px;
	margin-right: 10px;
}
