.containers-extension-menu {
	width: 350px;
}

.containers-extension-subMenuItem {
	padding-left: 20px;
}

.status-running {
	color: lawngreen;
}

.status-start {
	color: lawngreen;
}

.status-stopped {
	color: red;
}

.status-remove {
	color: LightSlateGray;
}

.status-undefined {
	color: SkyBlue;
}
