.containers-extension-menu {
    width: 380px;
}

.status-running {
    color: lawngreen;
}

.status-stopped {
    color: red;
}

.status-remove {
    color: LightSlateGray;
}

.status-undefined {
    color: SkyBlue;
}

.containers-extension-menu .button:checked {
    color: #eeeeec;
    background-color: #2d2d2d;
    border-color: #191919;
    text-shadow: none;
    icon-shadow: none;
    box-shadow: none;
}

.containers-extension-menu .container-menu-item {
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-color: gray;
    border-radius: 15px;
}

.containers-extension-menu .container-menu-item:last-of-type {
    border-radius: 15px;
    border-bottom: 1px;
    border-top: none;
}

.containers-action-button {
    padding-right: 6px;
    padding-left: 6px;
}

.container-action-bar {
    background-color: inherit;
    margin-right: 40px;
    margin-left: 12px;
}

.container-name-label {
    position: relative;
    vertical-align: text-bottom;
    margin-top: 5px;
    font-size: 9px;
    font-variant: small-caps;
    font-style: italic;
    font-family: monospace;
}

.container-info {
    font-size: 10px;
    font-variant: small-caps;
    font-family: monospace;
}
