.containers-extension-menu {
    width: 480px;
}

.status-running {
    color: lawngreen;
}

.status-stopped {
    color: red;
}

.status-remove {
    color: LightSlateGray;
}

.status-undefined {
    color: SkyBlue;
}

.containers-extension-menu .button:checked {
    color: #eeeeec;
    background-color: #2d2d2d;
    border-color: #191919;
    text-shadow: none;
    icon-shadow: none;
    box-shadow: none;
}

.container-menu-item .popup-menu-item {
    animation: ease-in;
}

.container-menu-item .popup-separator-menu-item {
    margin-right: 0px;
}

.containers-action-button {
    width: 20px;
    /*border-radius: 10px; */
    border: none;
    background: inherit;
    padding: 0px;
}

.containers-action-button .popup-menu-icon {
    width: 12px;
}
.container-action-bar {
    background-color: red;
}

.container-name-label {
    position: relative;
    vertical-align: text-bottom;
    margin-top: 5px;
    font-size: 9px;
    font-variant: small-caps;
    font-style: italic;
    font-family: monospace;
}

.container-info {
    font-size: 10px;
    font-family: monospace;
}
